@font-face {
    font-family: "Baskervil";
    src: url("/fonts/Baskervil_-Italic.otf") format("otf");
}

canvas {
    width: 593mm;
    height: 1300px;
}

img {
    max-width: 800px;
}

.small {
    max-width: 500px;
}

.page {
    /* width of the page */
    width: 594mm;

    /* height of the page */
    height: 841mm;

    /* shadow to see the page in the browser if the background is transparent*/
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);

    /* to position the children absolutely, we need to specify the relative position of the page */
    position: relative;
    overflow: hidden;
    margin: 2em auto;
}

/* the @media print to specify this only affect the content when printed*/
@media print {
    .page {
       width: 594mm;

        /* height of the page */
       height: 841mm;
        /* we remove margin and padding*/
        margin: 0;
        padding: 0;
        /* we position the .page body on the top left angle of the page*/
        position: absolute;
        left: 0;
        top: 0;
    }
}

@page {
    size: 534mm 791mm;
    margin: 0mm;
}

.text-input {
    position: absolute;
    top: 0;
    left: 0;
    border-color: brown;
}

.paper-img {
    background-image: url('../images/paper.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
}

.opentype-img {
    background-image: url('../images/opentype.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1000px;
    height: 1150px;
}

.html-img {
    background-image: url('../images/html.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 890px;
    height: 700px;
}

.css-img {
    background-image: url('../images/css.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 790px;
    height: 900px;
}

.title {
    position: absolute;

}

.input {
    font-family: Baskervil;
    font-size: 25px;
    width: 99.3%;
    border: 1px solid gray;
}

.draggable {
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
}

/* #svg {
   display: none;
} */